<aside class="right-sidebar">



    <div class="widget">
        <div class="q-search">
            <div class="form">
                <form>
                    <input type="search" name="search" placeholder="Arayın..." class="text rad3" />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div><!--/widget-->




    <div class="widget">

        <div class="q-list">
            <div class="widget-title">
                Popüler Sorular
            </div><!--/widget-title-->

            <ul>
                <li><a href="">Are users more likely to make mistakes with functionality which is easier to access?</a></li>
                <li><a href="">how to get JSON from string variable in jQuery</a></li>
                <li><a href="">Querying $resource and GridFS</a></li>
                <li><a href="">Redux: When removing specific element from array, it removes the last element instead</a></li>
                <li><a href="">How do I create the database files when using MySQL as an embedded server</a></li>

            </ul>
        </div>





    </div><!--/widget-->
</aside><!--/right-sidebar-->
