<div th:replace="layout/header"/>

<section class="content-container">

    <div class="wrap">

        <section class="left-content">

            <div class="q-single">
                <div class="q-tags">
                    <a th:each="tag : ${post.tags}" th:text="${tag.tagName}"></a>
                </div><!--/q-tags-->

                <h3 class="q-title" th:text="${post.title}"></h3><!--/q-title-->

                <div class="q-content cf">

                    <div class="q-left">
                        <div class="q-vote">
                            <div class="q-vote-up-area" data-th-attr="data-base-post-id=${post.id}, data-vote-type='UP_VOTE'">
                                <i class="fa fa-arrow-up"></i>
                            </div><!--/q-vote-up-area-->
                            <div class="q-vote-result-area">
                                <span th:text="${post.totalVoteCount()}"></span>
                            </div><!--/q-vote-result-area-->
                            <div class="q-vote-down-area"  data-th-attr="data-base-post-id=${post.id}, data-vote-type='DOWN_VOTE'">
                                <i class="fa fa-arrow-down"></i>
                            </div><!--/q-vote-down-area-->
                        </div><!--/q-vote-->
                    </div><!--/q-left-->


                    <div class="q-right">
                        <div class="q-text" th:text="${post.content}"></div><!--/q-text-->


                        <div class="q-meta cf">
                            <div class="q-meta-left">
                                <a href="" class="user-link">
                                    <img src="https://i.stack.imgur.com/RIZKi.png?s=32&g=1" />
                                    <span th:text="${post.user.displayName}"></span>
                                </a>
                                <span th:text="${#calendars.format(post.createdAt,'dd MMMM yyyy HH:mm')}"></span>
                            </div><!--/q-meta-left-->

                            <div class="q-meta-right">
                                <a href="">Paylaş</a>
                                <a th:href="@{'/p/' + ${post.id} + '/edit'}">Düzenle</a>
                                <a href=""><i class="fa fa-flag"></i></a>
                            </div><!--/q-meta-right-->
                        </div><!--/q-meta-->
                        <div class="q-alt-replies-area">
                                <div class="q-alt-replies">
                                    <div class="alt-item" th:each="comment : ${post.comments}">
                                        <div class="alt-text" th:text="${comment.content}"></div><!--/text-->
                                        <div class="alt-meta">
                                            <a href="" th:text="${comment.user.displayName}"></a> - <span th:text="${#calendars.format(comment.createdAt,'dd MMMM yyyy HH:mm')}"></span>
                                        </div><!--/alt-meta-->
                                </div><!--/alt-item-->
                            </div><!--/q-alt-replies-->

                            <div class="q-reply-form">

                                <form class="cf" name="comment-form" data-th-attr="data-base-post-id=${post.id}">

                                    <textarea class="textarea" name="comment-content" placeholder="Yorum..."></textarea>

                                    <div class="bottom cf">
                                        <button type="submit" class="button">Gönder</button>
                                    </div>
                                </form>

                            </div>

                        </div><!--/q-alt-replies-area-->
                    </div><!--/q-right-->
                </div><!--/q-content-->
            </div><!--/q-single-->

            <div class="q-answers">
                <h3 class="title" th:text="${#arrays.length(post.answers)} + ' cevap'"></h3>


                <div class="loop">

                    <div class="q-single q-answer" th:each="answer : ${post.answers}">

                        <div class="q-content cf">

                            <div class="q-left">
                                <div class="q-vote">
                                    <div class="q-vote-up-area"  data-th-attr="data-base-post-id=${answer.id}, data-vote-type='UP_VOTE'">
                                        <i class="fa fa-arrow-up"></i>
                                    </div><!--/q-vote-up-area-->
                                    <div class="q-vote-result-area">
                                        <span th:text="${answer.totalVoteCount()}"></span>
                                    </div><!--/q-vote-result-area-->
                                    <div class="q-vote-down-area"  data-th-attr="data-base-post-id=${answer.id}, data-vote-type='DOWN_VOTE'">
                                        <i class="fa fa-arrow-down"></i>
                                    </div><!--/q-vote-down-area-->

                                    <div class="accept-area">
                                        <i class="fa fa-check normal"></i>
                                    </div>
                                </div><!--/q-vote-->
                            </div><!--/q-left-->

                            <div class="q-right">
                                <div class="q-text" th:text="${answer.content}"></div><!--/q-text-->

                                <div class="q-meta cf">
                                    <div class="q-meta-left">
                                        <a href="" class="user-link">
                                            <img src="https://i.stack.imgur.com/RIZKi.png?s=32&g=1" />
                                            <span th:text="${post.user.displayName}"></span>
                                        </a>
                                        <span th:text="${#calendars.format(answer.createdAt,'dd MMMM yyyy HH:mm')}"></span>
                                    </div><!--/q-meta-left-->

                                    <div class="q-meta-right">
                                        <a class="add-comment-link" data-th-attr="data-answer-id=${answer.id}">Yorum ekle</a>
                                        <a href="">Paylaş</a>
                                        <a th:href="@{'/p/' + ${answer.id} + '/edit'}">Düzenle</a>
                                        <a href=""><i class="fa fa-flag"></i></a>
                                    </div><!--/q-meta-right-->
                                </div><!--/q-meta-->

                                <div class="q-alt-replies-area">
                                    <div class="q-alt-replies">
                                        <div class="alt-item" th:each="comment : ${answer.comments}">
                                            <div class="alt-text" th:text="${comment.content}"></div><!--/text-->
                                            <div class="alt-meta">
                                                <a th:href="@{'/p/' + ${post.id}}" th:text="${comment.user.displayName}"></a> - <span th:text="${#calendars.format(comment.createdAt,'dd MMMM yyyy HH:mm')}"></span>
                                            </div><!--/alt-meta-->
                                        </div><!--/alt-item-->
                                    </div><!--/q-alt-replies-area-->
                                    <div class="q-reply-form" style="display:none;">

                                        <form class="cf" name="comment-form" data-th-attr="data-base-post-id=${answer.id}">
                                            <textarea class="textarea" name="comment-content" placeholder="Cevaba yorum..."></textarea>

                                            <div class="bottom cf">
                                                <button type="submit" class="button">Gönder</button>
                                            </div>
                                        </form>

                                    </div>
                            </div><!--/q-right-->
                        </div><!--/q-content-->
                    </div><!--/q-single-->
                </div><!--/loop-->
            </div><!--/q-answers-->
        </section><!--/left-content-->
        <div th:replace="layout/sidebar"/>
    </div><!--/wrap-->
</section><!--/content-container-->

<div th:replace="layout/footer"/>