<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>

<div class="site-container cf">
    <header class="main">
        <div class="wrap cf">

            <div class="left-area">
                <div class="logo">
                    <a href="/">logo</a>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="/">Sorular</a></li>
                        <li><a href="">Etiketler</a></li>
                        <li><a href="">Editor</a></li>
                        <li><a class="button button-ask rad3" href="">Soru Sor</a></li>
                    </ul>
                </div>
            </div><!--/left-area-->

            <div class="user-area">

                <!-- logged:
                <a href="" class="user-link">
                    <img src="https://i.stack.imgur.com/RIZKi.png?s=32&g=1" />
                    ozergul
                </a>

                <i class="fa fa-circle"></i>

                <a href="">Ayarlar</a>
                -->

                <a href="">Üye Girişi</a>

            </div>

        </div><!--/wrap-->
    </header><!--/header-->